

<%- include("partials/header.ejs") %>
<h1>Login or Sign Up</h1>
<form action="/login" method="post">
    <input type="submit" class="button" role="button" value="Login">
</form>

<form action="/sign-up" method="post">
    <input type="submit" class="button" role="button" value="Sign Up">
</form>



<%- include("partials/footer.ejs") %>