<%- include("partials/header.ejs") %>

<h1>Sign Up</h1>
<form action="/login-page" method="post">
    <textarea name="inputUsername" id="login-username" cols="20" rows="1" placeholder="username" required></textarea>
    <br>
    <textarea name="inputPassword1" id="login-password" cols="20" rows="1" placeholder="password" required></textarea>
    <br>
    <textarea name="inputPassword2" id="login-password" cols="20" rows="1" placeholder="password" required></textarea>
    <br>
    <input type="submit" class="button" role="button" value="Sign Up">
</form>



<%- include("partials/footer.ejs") %>